# Default settings for user directories
#
# The values are relative pathnames from the home directory and
# will be translated on a per-path-element basis into the users locale
# {{ ansible_managed }}

DESKTOP=desktop
DEVELOPMENT=development
DOCUMENTS=documents
DOWNLOAD=downloads
MUSIC=music
PICTURES=pictures
VIDEOS=videos
